*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
    width: 100%;
    height: 100vh;
}

body{
    background-image: url(background-image-destino);
    background-position: top;
    background-size: cover;
}

/* MENU LATERAL */

nav{
    width: 25%;
    border-right: 1px solid gray;
    font-family: Tahoma, sans-serif;
    align-items: center;
    color: white;
}

nav ul li{
    display: flex;
    align-items: center;
    padding: 10px;
}

nav ul li:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

nav ul li.icons{
    padding-right: 5px;
}


/* MENU CLIENTES*/

fieldset{
    background-color: white;
    justify-content: center;
    position: absolute;
    left: 50%;
}

fieldset#clientsFieldset{
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    width: 350px;
    height: 190px;
    border-radius: 3px;
    background-color: rgb(21, 36, 69);
    color: white;
}

fieldset > legend{
    text-decoration-line: underline;
    font-weight: bold;
}

input.closeBtn{
    background-color: transparent;
    border: 0px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

div.divButton{
    display: flex;
    justify-content: right;
}

fieldset > form {
    width: 100%;
    padding: 10px;
}

fieldset > form > div.all_inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

fieldset > form > div.allButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

fieldset > form > div > div#arrows{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset > form > div > div#buttons{
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset > form > div > div > input{
    color: white;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
    width: 60px;
    padding: 3px;
}

fieldset > form > div > div > input.arw{
    background-color: purple;
    width: 35px;
    cursor: pointer;
}

fieldset > form > div > div > input.saveButton{
    background-color: green;
    cursor: pointer;
}

fieldset > form > div > div > input.newButton{
    background-color: blue;
    cursor: pointer;
}

fieldset > form > div#ordersItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset > form > div > div#subOrders{
    display: flex;
    flex-direction: row;
}

/* DISPLAY DOS FIELDSETS */

fieldset.hidden{
    display: none;
}

/* MENU PRODUTOS*/

fieldset#productsFieldset{
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    width: 350px;
    height: 225px;
    border-radius: 3px;
    background-color: rgb(21, 36, 69);
    color: white;
}


/* MENU PEDIDOS*/

fieldset#ordersFieldset{
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    width: 500px;
    height: 285px;
    border-radius: 3px;
    background-color: rgb(21, 36, 69);
    color: white;
}

fieldset > form > div#ordersDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

fieldset > form > div#locateProducts{
    display: flex;
    flex-direction: column;
    border-top: 1px solid wheat;
    margin-bottom: 15px;
}

fieldset > form > div > div#locateIds{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

fieldset > form > div > div > input{
    height: 23px;
}

fieldset > form > div > div > input#locateCode{
    width: 9%;
    color: black;
    background-color: white;
    border: 1px solid gray;
}

fieldset > form > div > div > input#locateName{
    width: 30%;
    color: black;
    background-color: white;
    border: 1px solid gray;
}

fieldset > form > div > div > input#locatePriceProd{
    width: 13%;
    color: black;
    background-color: white;
    border: 1px solid gray;
}

fieldset > form > div > div > input#locateQtty{
    width: 13%;
    color: black;
    background-color: white;
    border: 1px solid gray;
}

fieldset > form > div > div > input#locateButton{
    width: 35%;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

fieldset > form > div#ordersItem{
    display: flex;
    flex-direction: column;
    border-top: 1px solid wheat;
    justify-content: space-between;
}

fieldset > form > div > legend{
    font-weight: bold;
    margin-bottom: 10px;
}

div#subOrders{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

fieldset > form > div > div#ordersValue{
    display: flex;
    flex-direction: row;
}

div#totalPrice{
    display: flex;
    justify-content: right;
}

p.pTitle{
    width: 15%;
}

p.pDescrip{
    width: 44%;
}

p.pPrice{
    width: 13%;
}

p.pQtty{
    width: 13%;
}

p.pSubTotal{
    width: 15%;
}

input#totalPriceValue{
    background-color: lightgray;
    width: 15%;
    color: darkred;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}